<table class="table">
	<thead>
	<th>Id</th>
		<th>Description</th>
		<th>Montant HT</th>
		<th>Montant TTC</th>
			{% if type == "invoice" %}
				<th class="px-3 py-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Payé</th>
			{% else %}
				<th class="px-3 py-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
			{% endif %}
		<th>Date</th>
		<th>Date d'échéance</th>
		<th>Date de création</th>
		<th>Services</th>
		<th>Taux TVA 10%</th>
		<th>Base TVA 10%</th>
		<th>Taux TVA 20%</th>
		<th>Base TVA 20%</th>
		<th>Base TVA 0%</th>
	</thead>
	<tbody>
		<tr>
			<td>{{ item.id|slice(0, 5)|upper }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.amountHt }}</td>
			<td>{{ item.amountTtc }}</td>
			{% if type == "invoice" %}
					<td class="px-3 py-2 whitespace-no-wrap">{{ item.isPaid ? "Payé" : "Non payé" }}</td>
				{% else %}
					<td class="px-3 py-2 whitespace-no-wrap">{{ item.status }}</td>
				{% endif %}
			<td>{{ item.date ? item.date|date('Y-m-d') : '' }}</td>
			<td>{{ item.dueDate ? item.dueDate|date('Y-m-d') : '' }}</td>
			<td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>
				{% if item.services is not empty %}
					<ul>
						{% for service in item.services %}
							<li>{{ service.label }}
								- Prix:
								{{ service.price }}
								- Quantité:
								{{ service.quantity }}</li>
						{% endfor %}
					</ul>
				{% else %}
					Aucun service
				{% endif %}
			</td>
			<td>{{item.vatRate10}}</td>
			<td>{{item.baseVatRate10}}</td>
			<td>{{item.vatRate20}}</td>
			<td>{{item.baseVatRate20}}</td>
			<td>{{item.baseVatRate0}}</td>
			<td class="px-3 py-2 whitespace-no-wrap">
					{% if is_granted('ROLE_SUPERADMIN') %}
						<a href="{{ path("superadmin_"~type~"_show", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Afficher</a>
						<a href="{{ path("superadmin_"~type~"_edit", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Editer</a>
					{% elseif is_granted('ROLE_ADMIN') %}
						<a href="{{ path("admin_"~type~"_show", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Afficher</a>
						<a href="{{ path("admin_"~type~"_edit", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Editer</a>
					{% elseif is_granted('ROLE_USER') %}
						<a href="{{ path("user_"~type~"_show", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Afficher</a>
						<a href="{{ path("user_"~type~"_edit", {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Editer</a>
					{% endif %}
				</td>
		</tr>
	</tbody>
</table>
