<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ type|upper }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7fafc;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #cbd5e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .header {
            border-bottom: 1px solid #cbd5e0;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .header span {
            margin: 0;
            color: #2d3748;
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 300px;
        }
        .details {
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #cbd5e0;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #edf2f7;
            font-weight: bold;
        }
        .total {
            text-align: right;
        }
        .total p {
            margin: 5px 0;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <span>{{ type|upper }}</span>
            {% if logo is defined %}
            <img src="{{ logo }}" width="auto" height="50px" />
            {% endif %}
        </div>
        <div class="details">
            <p><strong>Client:</strong></p>
            <p>{{ forPdf.customer.name }}</p>
            <p>{{ forPdf.customer.street }}, {{ forPdf.customer.city }}, {{ forPdf.customer.getZipCode() }}, {{ forPdf.customer.country }}</p>
        </div>
        <div class="details">
            <p><strong>Entreprise:</strong></p>
            <p>{{ forPdf.company.name }}</p>
            <p>{{ forPdf.company.street }}, {{ forPdf.company.city }}, {{ forPdf.company.getZipCode() }}, {{ forPdf.company.country }}</p>
        </div>
        <div class="details">
            <p><strong>Echéance:</strong></p>
            <p>{{ forPdf.dueDate ? forPdf.dueDate|date('Y-m-d') : '' }}</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>TVA</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for service in forPdf.services %}
                <tr>
                    <td>{{ service.label }}</td>
                    <td>{{ service.quantity }}</td>
                    <td>{{ service.price|number_format(service.price is divisible by(1)? 0 : 2, ',', ' ') }}</td>
                    <td>{{ service.vatRate }}%</td>
                    <td>{{ (service.price * service.quantity)|number_format((service.price * service.quantity) is divisible by(1)? 0 : 2, ',', ' ') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="details">
            <p><strong> Base TVA 10%:</strong> {{ forPdf.baseVatRate10|number_format(forPdf.vatRate10 is divisible by(1)? 0 : 2, ',', ' ') }}</p>
            <p><strong>TVA 10%:</strong> {{ forPdf.vatRate10|number_format(forPdf.vatRate10 is divisible by(1)? 0 : 2, ',', ' ') }}</p>
            <p><strong>Base TVA 20%:</strong> {{ forPdf.baseVatRate20|number_format(forPdf.vatRate10 is divisible by(1)? 0 : 2, ',', ' ') }}</p>
            <p><strong>TVA 20%:</strong> {{ forPdf.vatRate20|number_format(forPdf.vatRate20 is divisible by(1)? 0 : 2, ',', ' ') }}</p>
            <p><strong>Sans TVA:</strong> {{ forPdf.baseVatRate0|number_format(forPdf.baseVatRate0 is divisible by(1)? 0 : 2, ',', ' ') }}</p>
        </div>
        <div class="total">
            <p><strong>Total HT:</strong> {{ forPdf.amountHt|number_format(forPdf.amountHt is divisible by(1)? 0 : 2, ',', ' ') }} €</p>
            <p><strong>Total TTC:</strong> {{ forPdf.amountTtc|number_format(forPdf.amountTtc is divisible by(1)? 0 : 2, ',', ' ') }} €</p>
        </div>
    </div>
</body>
</html>