<h2> Services </h2>
<ul id="services_container" class="services list-none flex flex-row" data-index="{{ form.services|length > 0 ? form.services|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.services.vars.prototype)|e('html_attr') }}">
    {% for service in form.services %}
        <li class="mb-2 w-72">
            {{ form_label(service) }}
            {{ form_widget(service) }}
            {{ form_errors(service) }}
        </li>
    {% endfor %}
</ul>
<button type="button" id="add_service" class="add_item_link" data-collection-holder-class="services">Ajouter un nouveau service</button>


{% block javascripts %}
    <script>
        const addServiceFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Supprimer ce service';
            removeFormButton.classList.add('mt-2');
            item.appendChild(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const item = document.createElement('li');

            item.classList.add('mb-2','list-none','w-72');
            item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

            const ulContainer = document.getElementById('services_container');
            ulContainer.insertBefore(item, ulContainer.lastChild);

            collectionHolder.dataset.index++;

            addServiceFormDeleteLink(item);
        }

        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection);
        });

        document.querySelectorAll('ul.services li').forEach((service) => {
            addServiceFormDeleteLink(service);
        });
    </script>
{% endblock %}
