{% extends '_partials/default/sheet.html.twig' %}

{% block page_title %}Fiche utilisateur - ArtBill{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Fiche utilisateur</p>
    <div class="flex justify-end gap-3 text-sm">
        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">
            <div class="h-9 flex justify-center items-center gap-1.5 border shadow-sm rounded-md p-3 bg-primary text-white">
                <icon name="pencil" display="solid" color="white" size="4"></icon>
                <span>Modifier</span>
            </div>
        </a>
        <a href="{{ path('admin_user_delete', {'id': user.id}) }}">
            <div class="h-9 flex justify-center items-center gap-1.5 border shadow-sm rounded-md p-3 bg-red-500 text-white">
                <icon name="trash" display="solid" color="white" size="4"></icon>
                <span>Supprimer</span>
            </div>
        </a>
    </div>
{% endblock %}

{% block sheet %}
    <p class="text-lg font-bold mb-1">Informations</p>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            E-mail
        </div>
        <div class="flex-1">
            {{ user.email }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Roles
        </div>
        <div class="flex-1">
            {{ user.street }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Mot de passe
        </div>
        <div class="flex-1">
            {{ user.city }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Prénom
        </div>
        <div class="flex-1">
            {{ user.name }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Nom
        </div>
        <div class="flex-1">
            {{ user.name }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Vérifié
        </div>
        <div class="flex-1">
            {{ user.getZipCode() }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Date et heure de création
        </div>
        <div class="flex-1">
            {{ user.createdAt|date('d/m/Y à H') }}h{{ user.createdAt|date('i') }}
        </div>
    </div>

{% endblock %}
