{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block page_content %}
<div class="container mx-auto p-4">
    <div class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">Profil de l'utilisateur</h2>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">
                Prénom
            </label>
            <div class="text-gray-700">{{ user.firstName }}</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
                Nom
            </label>
            <div class="text-gray-700">{{ user.lastName }}</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                E-mail
            </label>
            <div class="text-gray-700">{{ user.email }}</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="company">
                Compagnie
            </label>
            <div class="text-gray-700">{{ user.company.name }}</div>
        </div>

        <div class="mb-4">
            <a href="/logout/" class="block text-gray-700 text-sm font-bold mb-2">
                Déconnexion
            </a>
        </div>

    </div>
</div>
{% endblock %}
