{% extends 'base_blank.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block page_content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-xl mx-auto bg-white rounded-lg overflow-hidden md:max-w-2xl shadow-md">
        <div class="md:flex">
            <div class="w-full p-20">
                <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Inscription</h1>
                {{ form_start(registrationForm, {'attr': {'class': 'space-y-4'}}) }}
                <div style="color: red;">
                    {{ form_errors(registrationForm) }}
                </div>

                <fieldset class="space-y-4">
                    <legend class="text-xl font-semibold text-gray-700">Informations personnelles</legend>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            {{ form_row(registrationForm.firstname) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.lastname) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword.first) }}
                    {{ form_row(registrationForm.plainPassword.second) }}
                </fieldset>

                <fieldset class="space-y-4 mt-6">
                    <legend class="text-xl font-semibold text-gray-700">Informations de la compagnie</legend>
                    {{ form_row(registrationForm.companyName) }}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            {{ form_row(registrationForm.siren) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.vatNumber) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.zipCode) }}
                    {{ form_row(registrationForm.street) }}
                    {{ form_row(registrationForm.city) }}
                    {{ form_row(registrationForm.country) }}
                    {{ form_row(registrationForm.shareCapital) }}
                    {{ form_row(registrationForm.bankInformationStatement) }}
                </fieldset>

                {{ form_row(registrationForm.RGPDConsent, {'attr': {'class': 'mt-4'}}) }}

                <div class="flex justify-center mt-6">
                    <button type="submit" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition ease-in-out duration-150">
                        S'inscrire
                    </button>
                </div>
                
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
