{% extends 'base_blank.html.twig' %}

{% block page_title %}Inscription{% endblock %}

<<<<<<< HEAD
{% block page_content %}
=======
{% block body %}
>>>>>>> 33ecc39 (full tailwind system)
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <fieldset>
                            <legend>Ma Compagnie</legend>
                            {{ form_row(registrationForm.companyName) }}
                    </legend>
                    <fieldset>
                        <legend>Mon identité</legend>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.lastname) }}

                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                            }) 
                        }}
                    </fieldset>
                    {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn">Register</button>
            </div>
        </div>
    </section>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}
