{% extends '_partials/default/list.html.twig' %}

{% block page_title %}Clients{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Clients</p>
    <div class="flex gap-3">
        <input class="w-96 border rounded-md text-sm outline-primary px-2 py-1" type="text" name="search" value="" placeholder="Rechercher..." />
        <a href="{{ path('superadmin_customer_new') }}" title="Ajouter">
            <div class="btn flex justify-center items-center rounded-md bg-primary h-full px-4">
                <icon name="plus" display="mini" color="white"></icon>
            </div>
        </a>
    </div>
{% endblock %}

{% block thead %}
    {% if customers is not empty %}
        <th></th>
        <th>Nom</th>
        <th>E-mail</th>
        <th></th>
    {% else %}
        <th class="text-center">Aucune donnée</th>
    {% endif %}
{% endblock %}

{% block tbody %}
    {% for customer in customers %}
        <tr>
            <td class="w-10 h-12">
                <a href="{{ path('superadmin_customer_show', {'id': customer.id}) }}" title="Voir">
                    <icon name="eye" display="solid" color="primary" size="4"></icon>
                </a>
            </td>
            <td><a class="font-bold text-primary" href="{{ path('superadmin_customer_show', {'id': customer.id}) }}">{{ customer.name }}</a></td>
            <td>{{ customer.email }}</td>
            <td>
                {% if today == customer.createdAt|date('Y-m-d') %}
                    Aujourd'hui
                {% elseif today|date_modify('-1 day')|date('Y-m-d') == customer.createdAt|date('Y-m-d') %}
                    Hier
                {% else %}
                    {{ customer.createdAt|date('d/m/Y') }}
                {% endif %}

                à {{ customer.createdAt|date('H') }}h{{ customer.createdAt|date('i') }}
            </td>
            <td>
                <div class="flex justify-end gap-3">
                    <a href="{{ path('superadmin_customer_edit', {'id': customer.id}) }}">
                        <div class="h-8 flex justify-center items-center gap-1.5 border shadow-sm rounded-md px-2.5 p-1 bg-primary text-white">
                            <icon name="pencil" display="solid" color="white" size="4"></icon>
                            <span>Modifier</span>
                        </div>
                    </a>
                    <div class="w-8 h-8 flex justify-center items-center gap-1.5 border bg-red-500 shadow-sm rounded-md py-1">
                        {{ include('superadmin/customer/_delete_form.html.twig') }}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
