{% extends 'base.html.twig' %}

{% block title %}Création d'un client{% endblock %}

{% block body %}
    <h1>Création d'un client</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    {% for flashMessage in app.flashes('success') %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('danger') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
