{% extends 'base.html.twig' %}

{% block title %}Modification de {{ customer.name }}{% endblock %}

{% block body %}
    <h1>Modification de {{ customer.name }}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
