{% extends 'user/default/list.html.twig' %}

{% block page_title %}Clients{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Clients</p>
    <div class="flex gap-3">
        <input class="w-96 border rounded-md text-sm outline-primary px-2 py-1" type="text" name="search" value="" placeholder="Rechercher..." />
    </div>
{% endblock %}

{% block thead %}
    {% if customers is not empty %}
        <th></th>
        <th>Nom</th>
        <th>E-mail</th>
        <th></th>
    {% else %}
        <th class="text-center">Aucune donnée</th>
    {% endif %}
{% endblock %}

{% block tbody %}
    {% for customer in customers %}
        <tr>
            <td class="w-10 h-12">
                <a href="{{ path('user_customer_show', {'id': customer.id}) }}" title="Voir">
                    <icon name="eye" display="solid" color="primary" size="4"></icon>
                </a>
            </td>
            <td><a class="font-bold text-primary" href="{{ path('user_customer_show', {'id': customer.id}) }}">{{ customer.name }}</a></td>
            <td>{{ customer.email }}</td>
            <td>
                {% if today == customer.createdAt|date('Y-m-d') %}
                    Aujourd'hui
                {% elseif today|date_modify('-1 day')|date('Y-m-d') == customer.createdAt|date('Y-m-d') %}
                    Hier
                {% else %}
                    {{ customer.createdAt|date('d/m/Y') }}
                {% endif %}

                à {{ customer.createdAt|date('H') }}h{{ customer.createdAt|date('i') }}
            </td>
            <td>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
