{% extends 'admin/default/list.html.twig' %}

{% block page_title %}Catégories de prestation{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Catégories de prestation</p>
    <div class="flex gap-3">
        <input class="w-96 border rounded-md text-sm outline-primary px-2 py-1" type="text" name="search" value="" placeholder="Rechercher..." />
    </div>
{% endblock %}

{% block thead %}
    {% if categories is not empty %}
        <th></th>
        <th>Libellé</th>
        <th>Création</th>
        <th></th>
    {% else %}
        <th class="text-center">Aucune donnée</th>
    {% endif %}
{% endblock %}

{% block tbody %}
    {% for category in categories %}
        <tr>
            <td class="w-10 h-12">
                <a href="{{ path('user_category_show', {'id': category.id}) }}" title="Voir">
                    <icon name="eye" display="solid" color="primary" size="4"></icon>
                </a>
            </td>
            <td><a class="font-bold text-primary" href="{{ path('user_category_show', {'id': category.id}) }}">{{ category.label }}</a></td>
            <td>
                {% if today == category.createdAt|date('Y-m-d') %}
                    Aujourd'hui
                {% elseif today|date_modify('-1 day')|date('Y-m-d') == category.createdAt|date('Y-m-d') %}
                    Hier
                {% else %}
                    {{ category.createdAt|date('d/m/Y') }}
                {% endif %}

                à {{ category.createdAt|date('H') }}h{{ category.createdAt|date('i') }}
            </td>
            <td>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
