{% extends 'base.html.twig' %}

{% block page_title %}Détails du devis{% endblock %}

{% block page_content %}

<h1>Détails du devis</h1>

{% include "_partials/_bills.show.html.twig" with {'item':quotation, 'type':"quotation"} %}</br>

{% if previousVersions %}
    <h2>Version précédentes:</h2>
    {% for previousVersion in previousVersions %}
        {% include "_partials/_bills.show.html.twig" with {'item':previousVersion, 'type':"quotation"} %}
    {% endfor %}
{% endif %}
</br>

{% if nextVersions %}
    <h2>Version suivantes:</h2>
    {% for nextVersion in nextVersions %}
        {% include "_partials/_bills.show.html.twig" with {'item':nextVersion, 'type':"quotation"} %}
    {% endfor %}
{% endif %}
          
<a href="{{ path('superadmin_quotation_index') }}" class="btn btn-secondary">Retour à la liste</a>
<a href="{{ path('superadmin_quotation_edit', {'id': quotation.id}) }}" class="btn btn-primary">Modifier</a>
<a href="{{ path('generate_pdf', {'id': quotation.id, 'type': 'devis'}) }}" target="_blank">Générer PDF</a>
<a href="{{ path('superadmin_quotation_generate_invoice', {'id': quotation.id}) }}" class="btn btn-primary">Générer la facture à partir du devis</a>

<button id="togglePreview">Afficher la prévisualisation</button>

<div id="previewContainer" style='display: none;'>
    <iframe id="previewIframe" width="600" height="900;"></iframe>
</div>

<script>
    const toggleButton = document.getElementById('togglePreview');
    const previewContainer = document.getElementById('previewContainer');

    toggleButton.addEventListener('click', function() {
        if (previewContainer.style.display === 'none') {
            toggleButton.textContent = 'Cacher la prévisualisation';
            previewContainer.style.display = 'block';
            
            const quotationId = "{{ quotation.id|raw }}";
            document.getElementById('previewIframe').src = "{{ path('preview_pdf') }}?id=" + quotationId + "&type=devis";
        } else {
            previewContainer.style.display = 'none';
            toggleButton.textContent = 'Afficher la prévisualisation';

        }
    });
</script>

{% endblock %}
