<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}ArtBill{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('icon') }}
    {% endblock %}
</head>

{% set today = "now"|date('Y-m-d') %}

<body class="flex overflow-hidden">
    {% block initializer %}
        <div class="init w-5 h-5"></div>
    {% endblock %}

    {% set role_prefix = is_granted('ROLE_SUPERADMIN') ? "superadmin" : is_granted('ROLE_ADMIN') ? "admin" : "user" %}

    <header class="fixed top-0 left-0 right-0 z-50 h-11 flex justify-between items-center bg-gray-100 border-b-[1px] px-5 py-2">
        <img class="w-auto h-full" src="/assets/images/logo.png" alt="ArtBill"/>

        <div class="w-6 h-6 rounded-full overflow-hidden">
            <a href="{{ '/' ~ role_prefix ~ '/profile' }}">
                <img src="/assets/images/avatar-placeholder.png" alt="Avatar" class="w-full h-full object-cover">
            </a>
        </div>
    </header>

    <div id="container" class="h-screen flex flex-grow pt-11">
        <div id="sidebar" class="w-64 h-full bg-gray-100 text-gray-700 text-sm border-r-[1px]">
            <div class="h-full flex flex-col sticky top-11 divide-y divide-gray-200 overflow-y-auto">
                <ul class="flex flex-col p-3">
                    <a href="/dashboard">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="squares-2x2"></icon>
                                <span>Tableau de bord</span>
                            </div>
                        </li>
                    </a>
                </ul>

                <ul class="flex flex-col p-3">
                    <a href="{{ '/' ~ role_prefix ~ '/customer' }}">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="users"></icon>
                                <span>Clients</span>
                            </div>
                        </li>
                    </a>
                    <a href="{{ '/' ~ role_prefix ~ '/quotation' }}">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="document-text"></icon>
                                <span>Devis</span>
                            </div>
                        </li>
                    </a>
                    <a href="{{ '/' ~ role_prefix ~ '/invoice' }}">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="document-text"></icon>
                                <span>Factures</span>
                            </div>
                        </li>
                    </a>
                   
                    <a href="{{ '/' ~ role_prefix ~ '/service' }}">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="light-bulb"></icon>
                                <span>Prestations</span>
                            </div>
                        </li>
                    </a>
                    <a href="{{ '/' ~ role_prefix ~ '/category' }}">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="folder"></icon>
                                <span>Catégories de prestation</span>
                            </div>
                        </li>
                    </a>
					{% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ '/' ~ role_prefix ~ '/archived' }}">
                            <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                                <div class="flex items-center gap-2">
                                    <icon name="document-text"></icon>
                                    <span>Archivage</span>
                                </div>
                            </li>
                        </a>
                    {% endif %}
                </ul>

                <ul class="flex flex-col p-3 mt-auto">
					{% if not is_granted('ROLE_SUPERADMIN') and is_granted('ROLE_ADMIN') %}
                        <a href="{{ '/' ~ role_prefix ~ '/register' }}">
                            <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                                <div class="flex items-center gap-2">
                                    <icon name="users"></icon>
                                    <span>Ajouter un membre</span>
                                </div>
                            </li>
                        </a>
                    {% endif %}
                    {# <a href="{{ '/' ~ role_prefix ~ '/settings' }}"> #}
                    <a href="#">
                        <li class="w-full rounded-md hover:bg-gray-200 transition-fast px-2 py-1.5">
                            <div class="flex items-center gap-2">
                                <icon name="cog-6-tooth"></icon>
                                <span>Paramètres</span>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div id="content" class="flex flex-grow flex-col overflow-y-auto gap-3 p-6">
            {% if form is defined %}
                {{ form_start(form, { 'attr': { 'class': 'flex flex-grow flex-col gap-3' } }) }}
            {% endif %}

            <div id="content-header" class="w-full flex justify-between items-center">
                {% block page_header %}<p class="text-2xl font-bold">Bienvenue</p>{% endblock %}
            </div>

            <div id="content-box" class="w-full h-full flex flex-col border shadow-md rounded-lg overflow-y-auto max-h-300">
                {% block page_content %}{% endblock %}
            </div>

            {% if form is defined %}
                {{ form_end(form) }}
            {% endif %}
             {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
        </div>
         
    </div>
   

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>

</html>
