{% extends 'base.html.twig' %}

{% block page_title %}Détails du devis{% endblock %}

{% block page_content %}

<h1>Détails de la facture</h1>

{% include "_partials/_bills.show.html.twig" with {'item':invoice, 'type':"invoice"} %}</br>
          
<a href="{{ path('user_invoice_index') }}" class="btn btn-secondary">Retour à la liste</a>
<a href="{{ path('user_invoice_edit', {'id': invoice.id}) }}" class="btn btn-primary">Modifier</a>
<a href="{{ path('generate_pdf', {'id': invoice.id, 'type': 'invoice'}) }}" target="_blank">Générer PDF</a>

<button id="togglePreview">Afficher la prévisualisation</button>

<div id="previewContainer" style='display: none;'>
    <iframe id="previewIframe" width="600" height="900;"></iframe>
</div>

<script>
    const toggleButton = document.getElementById('togglePreview');
    const previewContainer = document.getElementById('previewContainer');

    toggleButton.addEventListener('click', function() {
        if (previewContainer.style.display === 'none') {
            toggleButton.textContent = 'Cacher la prévisualisation';
            previewContainer.style.display = 'block';
            
            const invoiceId = "{{ invoice.id|raw }}";
            document.getElementById('previewIframe').src = "{{ path('preview_pdf') }}?id=" + invoiceId + "&type=invoice";
        } else {
            previewContainer.style.display = 'none';
            toggleButton.textContent = 'Afficher la prévisualisation';

        }
    });
</script>

{% endblock %}
