{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block page_content %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ service.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ service.created ? service.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_service_index') }}">back to list</a>

    <a href="{{ path('admin_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('admin/service/_delete_form.html.twig') }}
{% endblock %}
