{% extends 'admin/default/sheet.html.twig' %}

{% block page_title %}Fiche prestation - ArtBill{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Fiche prestation</p>
    <div class="flex justify-end gap-3 text-sm">
        <a href="{{ path('admin_service_edit', {'id': service.id}) }}">
            <div class="h-9 flex justify-center items-center gap-1.5 border shadow-sm rounded-md p-3 bg-primary text-white">
                <icon name="pencil" display="solid" color="white" size="4"></icon>
                <span>Modifier</span>
            </div>
        </a>
        <div class="h-9 flex justify-center items-center gap-1.5 border shadow-sm rounded-md p-3 bg-red-500 text-white">
            {{ include('admin/service/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block sheet %}
    <p class="text-lg font-bold mb-1">Informations</p>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Libellé
        </div>
        <div class="flex-1">
            {{ service.label }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Description
        </div>
        <div class="flex-1">
            {{ service.description }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Prix
        </div>
        <div class="flex-1">
            {{ service.price }} €
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Catégorie
        </div>
        <div class="flex-1">
            {{ service.category }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Date et heure de création
        </div>
        <div class="flex-1">
            {{ service.createdAt|date('d/m/Y à H') }}h{{ service.createdAt|date('i') }}
        </div>
    </div>
{% endblock %}
